<html>
<head>
    <title>Voting app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<script>
    function vote(login) {
        var xhttp = new XMLHttpRequest();

        xhttp.open("POST", "/api/vote/"+ login, true);
        xhttp.onreadystatechange = function() { // Call a function when the state changes.
            if (this.readyState === XMLHttpRequest.DONE) {
            
                if (this.status === 200) {
                    var count = parseInt(document.getElementById("votes-" + login).textContent);
                    document.getElementById("votes-" + login).textContent = count + 1;
                    alert("Vote done")
                } else {
                    console.error('Upss..', this.status)
                    alert("Something went wrong :()")
                }
            }
        }
        xhttp.send();
    }
</script>
<style>
    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-gap: 11px;
    }
    .item {
        display: block;
    }
    figcaption {
        margin-top: 5px
    }
</style>
<body>
<div class="row">
    {{ range $i, $user := .users }}

    <div class="item ">
        <figure>
            <img src="{{ $user.Avatar }}">
           <figcaption>
            <span> {{ $user.FullName }}
                Votes : <span id="votes-{{ $user.Login }}">{{ $user.Votes }} </span>
                   <button type="button" class="btn btn-lg btn-primary" onclick="vote('{{ $user.Login }}')">Vote</button>
           </figcaption>
        </figure>
    </div>
    {{ end}}

</div>

</body>
</html>
